@model IEnumerable<School._Distance_Learning.Models.GroupTypes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
