@model IEnumerable<School._Distance_Learning.ViewModels.Pupils.IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pupils.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pupils.SurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pupils.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pupils.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pupils.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pupils.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pupils.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pupils.SurName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pupils.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pupils.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pupils.Login)
            </td>
            <td>
                ******
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pupils.PupilId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pupils.PupilId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pupils.PupilId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
