@model School._Distance_Learning.Models.Teachers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teachers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecruitmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecruitmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Subjects
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ts in Model.TeacherSubject) {
        <tr>
            <td>
                @ts.Subject.SubjectName
            </td>
            <td>
                <a asp-controller="TeacherSubjects" asp-action="Details" asp-route-id="@ts.TeacherSubjectId">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.TeacherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
