@model IEnumerable<School._Distance_Learning.Models.SkippingClasses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkippingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pupil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkippingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pupil.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SkippingClassId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SkippingClassId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SkippingClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
