@model School._Distance_Learning.Models.Grades

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grades</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Letter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Letter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GradeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
